<mat-toolbar color="primary">
    <div routerLink="/home">
        <h1>Rick & Morty Universe</h1>
    </div>
    <span class="example-spacer"></span>
    <div routerLink="/home">
        <mat-icon aria-hidden="false" aria-label="Home" fontIcon="home"></mat-icon>
        <span>Home</span>
    </div>
    <span class="example-spacer"></span>
    <div routerLink="/character-list">
        <mat-icon aria-hidden="false" aria-label="Character list" fontIcon="perm_contact_calendar"></mat-icon>
        <span>Character list</span>
    </div>
    <span class="example-spacer"></span>
    <div>
        <mat-icon aria-hidden="false" aria-label="Home" fontIcon="power_settings_new"></mat-icon>
    </div>
</mat-toolbar>
