<header>
    <h1>Rick & Morty Universe Hub</h1>
</header>

<main>
    <section class="block">
        <h2>What is Rick and Morty and its Characters</h2>
        <p>Welcome to our application dedicated to Rick and Morty, a mind-bending animated series full of
            interdimensional adventures, cosmic chaos, and unforgettable characters. In this first block, we will
            immerse you in the multiverse of Rick and Morty, introducing you to the essence of the series and providing
            you with a general overview of its iconic characters. Discover the bizarre and hilarious storylines behind
            each character and learn about their unique quirks and traits that will keep you entertained throughout your
            journey across dimensions.</p>
    </section>

    <section class="block">
        <h2>Relevant Information about the Characters</h2>
        <p>In this second block, we will delve into the fascinating details of the characters in Rick and Morty. Explore
            their backstories, personalities, and their roles in the series' complex narrative. Get to know your
            favorite characters in-depth, from the genius scientist Rick Sanchez to the naive but well-meaning Morty
            Smith. Immerse yourself in the relevant information that will enhance your understanding of each character's
            impact on the storyline and their dynamic relationships with one another.</p>
    </section>

    <section class="block">
        <h2>Functionality of our Website</h2>
        <p>In the third and final block, we will guide you through the functionality of our website, designed to provide
            you with an immersive and user-friendly experience. Discover how you can easily explore detailed information
            about each character, from their origins to their adventures across dimensions. Additionally, you will have
            the exciting opportunity to create your own customizable profile, where you can save your favorite
            characters and keep track of your progress in exploring the Rick and Morty universe. Join the community and
            share your unique insights and fan theories with fellow Rick and Morty enthusiasts. Get ready to embark on
            an intergalactic adventure like no other!</p>
    </section>
</main>

<footer>
    <p>&copy;2024 Rick & Morty Universe. All rights reserved.</p>
</footer>